<!--Autor: Juan David Ramos 1105-->
<!--Pagina principal index-->
<!DOCTYPE html>
<html lang="es">
<head> <!--Head parte de configuracion-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 2 - Economia</title>
    <link rel="stylesheet" href="../static/css/style_act2.css">
</head>
<body class='principal'> <!--Cuerpo de la pagina-->
    <header class='principal'> <!--Titulo de Economia-->
        <h1>
            El mundo de la ciencia
        </h1>
    </header>
    <nav class='principal navegador'> <!--Barra de Navegacion-->
        <a href="../index.html" class='botones'>Inicio</a>
        <a href="actividad1.html" class='botones'>Actividad 1</a>
        <a href="actividad3.html" class='botones'>Actividad 3</a>
        <a href="actividad4.html" class='botones'>Actividad 4</a>
    </nav>
    <main class='principal'>
        <div class='puntos'>
            <h3>
                1. Realiza un listado de los avances que le han permitido al ser humano crecer y prosperar
            </h3>
        </div>
        <div class='puntos father_punto1'>
            <div class='son_punto1 celular'>
                <img src="../static/img/actividad2/smartphone.jpg" alt="smartphone" class='img_punto1 mini1'>
                <p class='mini1'>La creación de los smartphones: Gracias a este gran avance podemos llevar un celular inteligente con la capacidad de conectarse a internet casi en cualquier parte del mundo y sin necesidad de llenar mucho espacio.</p>
            </div>
            <div class='son_punto1 raton'>
                <img src="../static/img/actividad2/raton.jpg" alt="raton" class='img_punto1 mini1'>
                <p class='mini1'>
                    Deshacer la parálisis: Aun está en fase de prueba con los ratones, pero ya lograron que un ratón que tenía una parálisis pueda caminar con solo una inyección que le regenero la medula.
                </p>
            </div>
            <div class='son_punto1 vacuna'>
                <img src="../static/img/actividad2/vacuna.jpg" alt="vacuna" class='img_punto1 mini1'>
                <p class='mini1'>
                    Creación de la vacuna contra el COVID: La creación de esta vacuna era muy esperada después del gran parón de la sociedad gracias a la pandemia, lo cual genero muchas perdidas económicas, por lo cual la creación de la misma ayudo a que la economía siguiera funcionando.
                </p>
            </div>
            <div class='son_punto1 tesla'>
                <img src="../static/img/actividad2/tesla.jpg" alt="tesla" class='img_punto1 mini1'>
                <p class='mini1'>
                    Autos autónomos: Otra tecnología que aún se está implementando en la mayoría de los países, es la de tener carros autónomos los cuales cada vez es más común ver como hoy en día son los Tesla.
                </p>
            </div>
        </div>
        <div class='puntos'>
            <h3>
                2. ¿Consideras que la ciencia siempre ha estado al servicio del ser humano?
            </h3>
            <br>
            <p>
                Realmente no se la respuesta verdadera, pero yo creo que si, pues no siempre los humanos pudieron compartir los conocimientos que descubrieron por limitaciones, pero el humano siempre estudio las cosas que pasaban a su alrededor creando poco a poco cada rama de la ciencia que conocemos.
            </p>
        </div>
        <div class='puntos'>
            <h3>
                3. Señala tres inventos que hayan dañado a la sociedad. Justifica tu respuesta.
            </h3>
        </div>
        <div class='puntos father_punto3'>
            <div class='son_punto3 father_min3'>
                <p class='son_mini3'>
                    Las plantas de energía nuclear: Este antes era una manera de generar energía, pero era muy peligrosa y contaminaba demasiado el medio ambiente, además de la famosa catástrofe de Chernóbil.
                </p>
                <img src="../static/img/actividad2/energia_nuclear.jpg" alt="energia_nuclear" class='img_punto3 son_mini3'>
            </div>
            <div class='son_punto3 father_min3'>
                <p class='son_mini3'>
                    La bomba nuclear: Creo que esta es un arma que realmente a afectado al mundo, pues sin contar las que lanzo EEUU a Japón, en medio de la segunda guerra mundial, tan solo tener esta arma afecta las relaciones internacionales de la nación
                </p>
                <img src="../static/img/actividad2/bomba_nuclear.jpg" alt="bomba_nuclear" class='img_punto3 son_mini3'>
            </div>
            <div class='son_punto3 father_min3'>
                <p class='son_mini3'>
                    Las drogas psicoactivas: Estas son un gran problema en la sociedad hoy en día, pues además de generar adicciones a las personas en el día a día, estas dañan la salud de las mismas y también estas han creado guerras y disputas de poder sobre todo en Latinoamérica.
                </p>
                <img src="../static/img/actividad2/drogas.jpg" alt="drogas" class='img_punto3 son_mini3'>
            </div>
        </div>
        <div class='puntos'>
            <h3>
                4. De acuerdo a lo vivido en tu comunidad, ¿qué avance científico crees que se pueda mejorar para optimizar la calidad de vida Representarlo en un diagrama si lo deseas.
            </h3>
        </div>
        <div class='puntos father4'>
            <img src="../static/img/actividad2/agua.jpg" alt="agua" class='img4 son4'>
            <p class='son4'>
                Lograr crear una purificación del agua más económica, para que las familias que no tengan que comprar agua para tomar, sino que ya venga con el pago mensual del agua que se utiliza normalmente y volverlo más económico hace que se pueda implementar en la vereda.
            </p>
        </div>
    </main>
</body>