<!--Autor: Juan David Ramos 1105-->
<!--Pagina principal index-->
<!DOCTYPE html>
<html lang="es">
<head> <!--Head parte de configuracion-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 1 - Economia</title>
    <link rel="stylesheet" href="../static/css/style_act3.css">
</head>
<body class='principal'> <!--Cuerpo de la pagina-->
    <header class='principal'> <!--Titulo de Economia-->
        <h1>
            El mundo de la ciencia
        </h1>
    </header>
    <nav class='principal navegador'> <!--Barra de Navegacion-->
        <a href="../index.html" class='botones'>Inicio</a>
        <a href="actividad1.html" class='botones'>Actividad 1</a>
        <a href="actividad2.html" class='botones'>Actividad 2</a>
        <a href="actividad4.html" class='botones'>Actividad 4</a>
    </nav>
    <main class='principal'>
        <div class="puntos">
            <h3>
                1. A  través de ejemplos cotidianos explica los diversos beneficios que ha tenido la humanidad gracias al desarrollo de la ciencia.
            </h3>
        </div>
        <div class="puntos father1">
            <div class='son1'>
                <img src="../static/img/actividad3/televisor.jpg" alt="televisor" class='img1 img_cel'>
                <p>
                    La ciencia en el día a día influye casi en todo, un ejemplo sería el entretenimiento, hoy en día es muy normal que todas las personas tengan por lo menos un TV en sus casas, entonces la evolución de la TV en los últimos 60 años es impresionante.
                </p>
            </div>
            <div class='son1'>
                <img src="../static/img/actividad3/reloj_inteligente.jpg" alt="reloj_inteligente" class='img1 img_cel' id='img_reloj'>
                <p>
                    Otra cosa que se ve en el día a día, son los relojes inteligentes, pues hace 10 años quien diría que podríamos incluso jugar en nuestros relojes y ayuda con la eficacia de tareas rápidas y pequeñas, como por ejemplo calcular algo.
                </p>
            </div>
            <div class='son1'>
                <img src="../static/img/actividad3/abono.jpg" alt="abono" class='img1 img_cel'>
                <p>
                    Los abonos de los frutales es algo que para los campesinos es muy importante y gracias a eso los árboles pueden crecer mejor y con un mejor cuidado ya que incluso unos traen insecticidas
                </p>
            </div>
        </div>
        <div class='puntos'>
            <h3>
                2. ¿Por qué se habla de revolución informática?
            </h3>
        </div>
        <div class="father2 puntos">
            <p class="son2">
                Pues se habla de esta revolución porque sobre todo los computadores revolucionaron el mundo ya que son los que se utilizan hoy en día literalmente para todo, hasta para cocinar, cuando una persona no sabe una receta simplemente acude a su computadora y ya la obtendría, o también para los trabajos, como por ejemplo seria programar.
            </p>
            <img src="../static/img/actividad3/revolucion.jpg" alt="revolucion" class='img2 son2 img_cel'>
        </div>
        <div class="puntos">
            <h3>
                3. Explica la importancia del surgimiento de la informática para nuestra vida cotidiana.
            </h3>
            <br>
            <p>
                Es muy importante ya que hoy en día el ser humano se enfoca principalmente a descubrir cosas, y quiere hacerlo rápido, y la informática es una ayuda para el ser  humano en todo, pues ayudaría a suplir las necesidades de los humanos, y por eso poco a poco se van creando por ejemplo robots que ayuden al ser humano a lograr lo que quiera, o por ejemplo seria lo que paso recientemente, la NASA no mando un humano para el planeta Marte, sino que mando una Maquina para que analizara el planeta, como se puede ver en ese ejemplo la informática esta para ayudar al ser humano.
            </p>
        </div>
        <div class='puntos'>
            <h3>
                4. ¿Cuál es tu opinión frente a la siguiente afirmación? “demasiada información desinforma”.
            </h3>
        </div>
        <div class="puntos father4">
            <p class='son4'>
                Pues si es muy cierto que gran parte de la información que se encuentra en el internet es falsa, pero eso ya depende de cada persona pues hay cosas que son increíbles que pasa y se informan el cual ay personas que no son capaces de aceptar esa verdad, pero si hay desinformación no lo creo así, sino que creo que ahora de tanto que el ser humano cada personas quiere pensar lo suyo propio.
            </p>
            <img src="../static/img/actividad3/cuarto_punto.jpg" alt="pensante" class='img4 son4 img_cel'>
        </div>
    </main>
</body>