<!--Autor: Juan David Ramos 1105-->
<!--Pagina principal index-->
<!DOCTYPE html>
<html lang="es">
<head> <!--Head parte de configuracion-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 1 - Economia</title>
    <link rel="stylesheet" href="../static/css/style_act1.css">
</head>
<body class='principal'> <!--Cuerpo de la pagina-->
    <header class='principal'> <!--Titulo de Economia-->
        <h1>
            El mundo de la ciencia
        </h1>
    </header>
    <nav class='principal navegador'> <!--Barra de Navegacion-->
        <a href="../index.html" class='botones'>Inicio</a>
        <a href="/templates/actividad2.html" class='botones'>Actividad 2</a>
        <a href="/templates/actividad3.html" class='botones'>Actividad 3</a>
        <a href="/templates/actividad4.html" class='botones'>Actividad 4</a>
    </nav>
    <main class='principal'>
        <div class='puntos'>
            <h3 id='punto1'>
                1. Describe la situación que se está desarrollando en cada una de las fotografías como anexo 1.
            </h3>
        </div>
        <div class='puntos_1 father_punto1'>
            <div class='son_punto1 mini_father'>
                <img src="../static/img/actividad1/nino_online.png" alt="niño_online" class='img_punto1 mini_son'>
                <p>
                    Segun lo que yo veo el niño esta estudiando online lo cual le permite tener acceso a mucha informacion de manera rapida y eficaz.
                </p>
            </div>
            <div class='son_punto1 mini_father'>
                <img src="../static/img/actividad1/personas_mesa.png" alt="personas_mesa" class='img_punto1 mini_son'>
                <p>
                    Lo que yo veo es que uan familia esta en la mesa, comiendo pero son ciberdependientes, lo cual es malo cuando ya se vuelve una adiccion a las aparatos inteligentes, por esa razon la comida que esta en la mesa se deja aparte en la mesa.
                </p>
            </div>
            <div class='son_punto1 mini_father'>
                <img src="../static/img/actividad1/fiesta.png" alt="fiesta" class='img_punto1 mini_son'>
                <p>
                    Se muestra como muchas personas interactuan en una fiesta, lo cual si lo anexamos con la tecnologia, ahora es muy normal las reuniones entre amigos online.
                </p>
            </div>
            <div class='son_punto1 mini_father'>
                <img src="../static/img/actividad1/ninos_ciencia.png" alt="niños_ciencia" class='img_punto1 mini_son'>
                <p>
                    Se muestras como dos niños desde muy jovenes ya empiezan en la ciencia.
                </p>
            </div>
        </div>
        <div class='puntos'>
            <h3 class='puntos_solos'>
                2. Es común encontrar cotidianamente estas situaciones ¿Por qué?
            </h3>
            <br>
            <p class='puntos_solos'>
                De hecho ahora es muy comun encontrar estas situaciones ya que a diaro hoy en dia la tecnologia y la ciencia esta en todas partes, por ejemplo lo mas comun ahora es lo del niño estudiando online, ya que por la pandemia del Covid-19, casi todos los estudiantes del mundo les tocó empezar a estudiar online para prevenir los contagios de la enfermedad.
            </p>
        </div>
        <div class='puntos'>
            <h3>
                3.¿Cuáles crees que han sido los principales avances de la ciencia y la tecnología en la actualidad?
            </h3>
            <div class='spacex_father'>
                <p class='spacex_son'>
                    Se que en la actualidad han habido muchos avances tecnologicos pero uno de los que me perece mas importante es el de la nasa con SpaceX, que lograron hacer que los cohetes ahora aterricen y asi de una manera u otra hacer mas economicos los viajes espaciales para en un futuro lograr volverlo comercia.
                </p>
                <img src="../static/img/actividad1/spacex.jpg" alt="spacex" class='img_spacex spacex_son'>
            </div>
        </div>
        <div class="puntos">
            <h3 class='puntos_solos'>
                4. ¿En qué forma crees que estos avances han beneficiado o perjudicado a la sociedad en general?
            </h3>
            <br>
            <p class='puntos_solos'>
                Este avance creo que beneficia demasiado a la sociedad de hoy en dia para que el ser humano ya tenga en unas decadas la posibilidad de tener otros lugares de viajes que no sean dentro de nuestro planeta.
            </p>
        </div>
    </main>
</body>
